:root {
    --sidebar-overlay-bg-color: rgba(0, 0, 0, 0.25);
    --navbar-brand-image-height: 4rem;
    --navbar-brand-font-size: 2.5rem;
    --navbar-brand-image-margin-right: 0.4rem;
    --dm-navbar-bg-color: #393939;
    --lm-base-body-bg-color: #f9f9f9;
    --dm-base-body-bg-color: #2d2d2d;
    --dm-sidebar-bg-color: var(--dm-navbar-bg-color);
    --lm-sidebar-box-shadow: 0 0 15px rgb(0 0 0 / 75%);
    --dm-sidebar-box-shadow: var(--lm-sidebar-box-shadow);
    --navbar-height: 5.6rem;

    --mini-sidebar-width: 7rem;
}

/* Fix text vertical alignment (issue with Halfmoon) */
.btn {
    line-height: 2.9rem;
}

.main-brand-box {
    padding-left: 6.2rem;
}

.brand-text {
    font-family: 'Secular One', sans-serif;
}

.page-wrapper.with-sidebar[data-sidebar-type~=overlayed-all]>.sidebar, .sidebar-overlay {
    top: var(--navbar-height);
}

.user-icon-container {
    width: 2rem;
    height: 2rem;
}

.mini-sidebar {
    top: 0;
    width: var(--mini-sidebar-width);
    overflow-x: hidden;
    z-index: 40;
}

.mini-sidebar-btns {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 0;
    border: none;
    font-size: 1rem;
}

.mini-sidebar-btns i {
    font-size: 2rem;
}

.toggle-sidebar-btn {
    height: var(--navbar-height);
}

.sidebar {
    border: var(--navbar-border-width) solid var(--lm-navbar-border-color);
    clip-path: inset(0px -20px 0px 0px);
    margin-top: -0.1rem;
}

main {
    margin-left: var(--mini-sidebar-width);
    min-height: 100%;
    border-left: var(--navbar-border-width) solid var(--lm-navbar-border-color);
}

.navbar-text {
    gap: 0.5rem;
}

footer {
    height: max-content!important;
}

footer p {
    margin: 0!important;
}