:root {
    --sidebar-overlay-bg-color: rgba(0, 0, 0, 0.25);
    --navbar-brand-image-height: 4rem;
    --navbar-brand-font-size: 2.5rem;
    --navbar-brand-image-margin-right: 0.4rem;
    --dm-navbar-bg-color: #393939;
    --lm-base-body-bg-color: #f9f9f9;
    --dm-base-body-bg-color: #2d2d2d;
    --dm-sidebar-bg-color: var(--dm-navbar-bg-color);
    --lm-sidebar-box-shadow: 0 0 15px rgb(0 0 0 / 75%);
    --dm-sidebar-box-shadow: var(--lm-sidebar-box-shadow);
    /* --navbar-height: 5rem; */

    --mini-sidebar-width: 7.2rem;
}

/* Fix text vertical alignment (issue with Halfmoon) */
.btn {
    line-height: 2.9rem;
}

.brand-text {
    font-family: 'Secular One', sans-serif;
}

.round-account-btn {
    padding-top: 2px;
    height: 34px;
    width: 35px;
}

.page-wrapper.with-sidebar[data-sidebar-type~=overlayed-all]>.sidebar, .sidebar-overlay {
    top: var(--navbar-height);
}

.mini-sidebar {
    top: 0;
    width: var(--mini-sidebar-width);
    overflow-x: hidden;
    z-index: 40;
}

.mini-sidebar-btns {
    width: var(--mini-sidebar-width);
    height: var(--mini-sidebar-width);
    border-radius: 0;
    border: none;
    font-size: 1rem;
}

.bottom-navbar-btns {
    height: 100%;
    width: 7rem;
    border-radius: 0;
    border: none;
    font-size: 1rem;
}

.toggle-sidebar-btn {
    height: var(--navbar-height);
}

.nav-sidebar-btn {
    height: 4.8rem;
    padding-top: 0.2rem !important;
}

.sidebar {
    border: var(--navbar-border-width) solid var(--lm-navbar-border-color);
    clip-path: inset(0px -20px 0px 0px);
    margin-top: -0.1rem;
}

main {
    margin-left: var(--mini-sidebar-width);
    min-height: 100%;
    border-left: var(--navbar-border-width) solid var(--lm-navbar-border-color);
}

.navbar-text {
    gap: 0.5rem;
}

footer {
    background-color: #454545;
    color: white;
    margin-left: var(--mini-sidebar-width);
    height: max-content !important;
}

footer p {
    margin: 0 !important;
}

@media only screen and (max-width: 768px) {

    main, footer {
        margin-left: 0;
    }

}

@media only screen and (min-width: 576px) {

    .content-wrapper {
        height: calc(100% - var(--navbar-height)) !important;
    }

}

@media only screen and (max-width: 360px) {

    .brand-text {
        display: none;
    }

}